$space-large: 2.5rem;
$space-small: 2rem;
$text-color: #FFF;
$title-color: #FFF;
$link-color: #00FFA5;
$link-color-active: #00C37E;
$nav-text-color: #2c3e50;
$nav-background-color: rgba(246,248,249,0.5);
$button-color: #00BD7A;
$button-color-active: #00935F;
$blue: #1779ba;
$table-background: rgba(46,48,49,0.5);
$table-background-hover: rgba(0,0,0,0.5);
$table-is-stripped: 'false';
$table-stripe: 'odd';
$footer-color: #00744B;

table, tbody, tr, td {
  background-color: transparent;
  border: 15px solid transparent;
}

.CitiesPanelText {
  text-align: center;
  font-size: 1.2rem;
}

tbody tr:nth-child(even) {
  border-bottom: inherit;
  background-color: transparent;
}

td.CityElement {
  background-color: $table-background;
  background-clip: padding-box;

  &:hover {
    background-color: $table-background-hover;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

  a {
    display: block;
    width: 100%;
    color: #FFF;
    text-align: center;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.otf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/Poppins-Bold.otf');
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/background-image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $text-color;
}

html {
  height: 100%
}

h3, h4 {
  font-family: inherit;
}

a {
  color: $link-color;
  &:hover, &:active {
    color: $link-color-active;
  }
}


// navbar
.top-bar {
  background-color: $nav-background-color;

  .menu {
    background-color: inherit;
    color: $nav-text-color;

    a {
      color: $nav-text-color;

      &.active {
        color: #dedede;
      }
    }
  }
}

// forms
.main-form {
  width: 60%;
  margin: auto;
}

input[type=text] {
  border-radius: 0;
}

.button {
  border-radius: 0;
  font-weight: bold;
  background-color: $button-color;

  &:active, &:hover {
    background-color: $button-color-active;
  }

  .blue {
    border: 2px solid $blue;
  }
}

// main
.page-title {
  color: $title-color;
  margin-top: $space-small;
  margin-bottom: $space-small;
  padding: $space-small;
  font-family: 'PoppinsBold';
  text-transform: uppercase;
  letter-spacing: 5px;
  text-indent: 5px;
  text-align: center;
}

.weather-message {
  height: 150px;
  padding: 25px 0 25px 0;

  h3 {
    size: 1.9375rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.error-modal {
  color: #000;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $footer-color;
  text-align: center;
  width: 100%;
}

img.github_icon {
  height: 50px;
  padding-left: 10px;
}
