$space-large: 2.5rem;
$space-small: 2rem;
$text-color: #FFF;
$title-color: #FFF;
$link-color: #00FFA5;
$link-color-active: #00C37E;
$nav-text-color: #2c3e50;
$nav-background-color: rgba(246,248,249,0.5);;
$button-color: #00BD7A;
$button-color-active: #00935F;
$blue: #1779ba;

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.otf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/Poppins-Bold.otf');
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/background-image.jpeg');
  background-size: 120%;
  color: $text-color;
}

a {
  color: $link-color;
  &:hover, &:active {
    color: $link-color-active;
  }
}

// navbar
.top-bar {
  background-color: $nav-background-color;

  .menu {
    background-color: inherit;
    color: $nav-text-color;

    a {
      color: $nav-text-color;

      &.active {
        color: #dedede;
      }
    }
  }
}

// forms
.main-form {
  width: 60%;
  margin: auto;
  padding-bottom: 50px;
}

input[type=text] {
  border-radius: 0;
}

.button {
  border-radius: 0;
  font-weight: bold;
  background-color: $button-color;

  &:active, &:hover {
    background-color: $button-color-active;
  }

  .blue {
    border: 2px solid $blue;
  }
}

h3 {
  font-family: inherit;
}

.page-title {
  color: $title-color;
  margin-top: $space-small;
  margin-bottom: $space-small;
  padding: $space-small;
  font-family: 'PoppinsBold';
  text-transform: uppercase;
  letter-spacing: 5px;
  text-indent: 5px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
